{% extends 'web/layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
     {% include 'partials/_sub_header.html' %}

<div class="main-content">
    <div class="container">
        <form class="row" method="post" enctype="multipart/form-data">

            <div class="col-md-7 col-xl-8">
                <div class="card shadow-1">
                    <h4 class="card-title"><strong>Member</strong></h4>

                    <div class="card-body">

                        <!----------------------------------------------------------------->

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="require">First Name</label>
{#                                <input class="form-control" type="text" name="name">#}
                                <p>{{ member.email }} </p>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="require">Middle Name</label>
{#                                <input class="form-control" type="text" name="name">#}
                                <p>None</p>

                            </div>

                            <div class="form-group col-md-4">
                                <label class="require">Last Name</label>

                                <p>{{ member.last_name }}</p>
                            </div>



                        </div>

                        <hr>


                        <div class="row">

                            <div class="form-group col-md-6">
                                <label class="require">Sex</label>
                                 <p>{{ member.get_gender_display }}</p>
                            </div>


                            <div class="form-group col-md-6">
                                <label class="require">Date of birth</label>

                                <p>{{ member.dob|date }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="require">School / Zone</label>

                                <p>{{ member.school.name }}</p>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="require">Year Joined Box Girls</label>

                                <p>{{ member.created_at | date }}</p>
                            </div>


                            <!--<div class="row">-->
                            <div class="form-group col-md-6">
                                <label class="require">Parent / Guardian</label>
{#                                <input class="form-control" type="text" name="name">#}
                                <p>{{ member.guardian }}</p>
                            </div>

                            <div class="form-group col-md-6">
                              <b>  <label class="require">Contact Number</label> </b>
{#                                <input class="form-control" type="text" name="slug">#}
                                <!--<small>String to be use in URL</small>-->
                                <p>{{ member.concrete_model }}</p>
                            </div>
                            <!--</div>-->
{#                            {% blocktrans %}<hr>{% endblocktrans %}#}
                            <hr>
                            <!--<div class="row">-->
                            <div class="form-group col-md-6">
                                <label class="require">Home Address</label>
{#                                <input class="form-control" type="text" name="name">#}
                                <p>{{ member.address }}</p>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="require">Area of Residence</label>
{#                                <input class="form-control" type="text" name="slug">#}
                                <p>{{ member.residence }}</p>
                                <!--<small>String to be use in URL</small>-->
                            </div>
                        </div>
                    </div>

                    <footer class="card-footer text-right">
{#                        <a class="btn btn-secondary mr-2" href="#">Cancel</a>#}
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </footer>

                </div>
            </div>
            <!--</div>-->

            <div class="col-md-5 col-xl-4">
                <div class="card shadow-1">
                    <h5 class="card-title">Profile Picture</h5>

                    <div class="card-body">
                        <div class="" style="text-align:  center;">
                             <div class="centeredx" style="text-align:  center;">

                                <!--<p><code>.rounded-circle</code></p>-->
                                <img src="{{ member.picture.url }}" alt="..." class="rounded-circle">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
    </div>

    </form>
</div>
</div>
{% endblock %}
