      <header class="header header-inverse ">
        <div class="container">
          <div class="header-info">
            <div class="left">
              <br>
              <h2 class="header-title"><strong>Create</strong> new topic <small class="subtitle">Describe your issue as much descriptive as you can, so we can help you faster.</small></h2>
            </div>
          </div>

          <div class="header-action">
            <nav class="nav">
              <a class="nav-link active" href="forum-list.html">Forums</a>
              <a class="nav-link" href="forum-add.html">Add new</a>
              <a class="nav-link" href="forum-single.html">Single</a>
            </nav>
          </div>
        </div>
      </header><!--/.header -->