{% extends 'web/layout.html' %}

{% load staticfiles %}

{% block content %}




      <div class="main-content">
        <div class="container">
          <div class="row">
              <div class="col-6 col-lg-4">
              <div class="card shadow-1">
                <div class="card-body">
                  <div class="flexbox">
                    <h5>SMS</h5>
                    <div class="dropdown">
                      <span class="dropdown-toggle no-caret" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="ion-android-list"></i> Details</a>
                        <a class="dropdown-item" href="#"><i class="ion-android-add"></i> Add new</a>
                        <a class="dropdown-item" href="#"><i class="ion-android-refresh"></i> Refresh</a>
                      </div>
                    </div>
                  </div>

                  <div class="text-center my-2">
                    <div class="fs-60 fw-400 text-danger">{{ sms }}</div>
                    <span class="fw-400 text-muted">Messages</span>
                  </div>
                </div>

                <div class="card-body bg-lighter fw-400 py-12">
                  <span class="text-muted mr-1">Messages send today:</span>
                  <span class="text-dark">9</span>
                </div>

                <div class="progress mb-0">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 65%; height: 3px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>



            <div class="col-6 col-lg-4">
              <div class="card shadow-1">
                <div class="card-body">
                  <div class="flexbox">
                    <h5>Contacts</h5>
                    <div class="dropdown">
                      <span class="dropdown-toggle no-caret" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="ticket-single.html"><i class="ion-android-list"></i> Details</a>
                        <a class="dropdown-item" href="ticket-add.html"><i class="ion-android-add"></i> Add new</a>
                        <a class="dropdown-item" href="ticket-list.html"><i class="ion-android-refresh"></i> Refresh</a>
                      </div>
                    </div>
                  </div>

                  <div class="text-center my-2">
                    <div class="fs-60 fw-400 text-primary">{{ contacts }}</div>
                    <span class="fw-400 text-muted">Contacts</span>
                  </div>
                </div>

                <div class="card-body bg-lighter fw-400 py-12">
                  <span class="text-muted mr-1">Contacts added today:</span>
                  <span class="text-dark">28</span>
                </div>

                <div class="progress mb-0">
                  <div class="progress-bar" role="progressbar" style="width: 40%; height: 3px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>



            <div class="col-6 col-lg-4">
              <div class="card shadow-1">
                <div class="card-body">
                  <div class="flexbox">
                    <h5>Groups</h5>
                    <div class="dropdown">
                      <span class="dropdown-toggle no-caret" data-toggle="dropdown"><i class="ti-more-alt rotate-90"></i></span>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="forum-single.html"><i class="ion-android-list"></i> Details</a>
                        <a class="dropdown-item" href="forum-add.html"><i class="ion-android-add"></i> Add new</a>
                        <a class="dropdown-item" href="forum-list.html"><i class="ion-android-refresh"></i> Refresh</a>
                      </div>
                    </div>
                  </div>

                  <div class="text-center my-2">
                    <div class="fs-60 fw-400 text-dark">{{ contact_groups }}</div>
                    <span class="fw-400 text-muted">Groups</span>
                  </div>
                </div>

                <div class="card-body bg-lighter fw-400 py-12">
                  <span class="text-muted mr-1">Groups added Today:</span>
                  <span class="text-dark">{{ contact_groups_added_today }}</span>
                </div>

                <div class="progress mb-0">
                  <div class="progress-bar bg-dark" role="progressbar" style="width: 30%; height: 3px;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <div class="col-12 h-50px"></div>


          </div>
        </div>
      </div>
{% endblock %}
